html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  background-color: beige;

  // .child1 {
  //     height: 100px;
  //     width: 100px;
  //     background-color: aquamarine;
  // }
  // background-color: beige;

  // .child2 {
  //     height: 100px;
  //     width: 100px;
  //     background-color: aqua;
  // }
}

// Media Quieries - min or max width
@media (max-width: 1000px) {
  .main {
    background-color: green;
  }
}
